VUE_APP_ROOT_API=http://extranet.ta.gov.mz/api
VUE_APP_ROOT_DOCS=http://spapdev/_api
VUE_APP_NAME=TribunalAdministrativo
VUE_APP_KEY=base64:NLToArlbKeWvOIsv2LRucbtK310AK9KSoX/CMRJWLQsU=
VUE_APP_URL=https://ta.gov.mz
VUE_APP_SOCKET_IO_URL=https://localhost
VUE_APP_TAWK_TO_URL=https://localhost
VUE_APP_API_USERNAME=
VUE_APP_API_PASSWORD=
VUE_APP_WEBSOCKET_URL=
VUE_APP_WEBSOCKET_PATH=
EMAILJS_SERVICE_ID=service_re137ti
EMAILJS_TEMPLATE_ID=template_cv9hga3
EMAILJS_PUBLIC_KEY=-9nG4BUAre3illL3y
